<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <aop:aspectj-autoproxy/>

    <bean id="customerBean12" class="hari.edu.spring.pojo.Customer">
        <constructor-arg index="0" value="Senthil"/>
        <constructor-arg index="1" value="29"/>
    </bean>

    <!-- Before Advice -->
    <bean id="aopAspectjAnnotationBeforeAspect" class="hari.edu.spring.aop.AOPAspectJAnnotationBeforeAdvice"/>

    <!-- After Advice -->
    <bean id="aopAspectjAnnotationAfterAspect" class="hari.edu.spring.aop.AOPAspectJAnnotationAfterAdvice"/>

    <!-- After Return Advice -->
    <bean id="aopAspectjAnnotationAfterReturnAspect" class="hari.edu.spring.aop.AOPAspectJAnnotationAfterReturningAdvice"/>

    <!-- After Throw Advice -->
    <bean id="aopAspectjAnnotationAfterThrowAspect" class="hari.edu.spring.aop.AOPAspectJAfterAnnotationThrowAdvice"/>

    <!-- Around Advice -->
    <bean id="aopAspectjAnnotationAroundAspect" class="hari.edu.spring.aop.AOPAspectJAnnotationAroundAdvice"/>

</beans>